@import './Dark/src/Dark.css';

/*******************************************************************************
 * override colors from base theme (Dark)
 * all available colors and their defaults are listed here:
 * https://github.com/sni/Thruk/blob/master/themes/base.css
 */
 
body, H4, [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
  /* Applies to mobile */
  font-size: 20px;
  line-height: 26px;
 
  /* Applies to everything else (i.e. bigger than small) */
  @screen sm {
    font-size: 12px;
    line-height: 18px;
  }
}

div.status.col_host_name, div.status.col_description, div.status.col_state {
  padding-top: 4px;
  padding-bottom: 4px;
  @screen sm {
   padding: 0;
  }
}

:root {
  --navbar-item-hover-fg:     #eee;
  --navbar-item-hover-bg:     #0074a8;
}

DIV.main-header-button {
  --button-fg:                #eee;
  --button-bg:                #0074a8;
  --button-hover-fg:          #eee;
  --button-hover-bg:          #116688;
}

.sublink {
  @apply flex items-center py-1 pr-1 pl-12 overflow-hidden text-ellipsis whitespace-nowrap;
}

/*******************************************************************************
* login page
*/
BODY.loginpage {
  DIV.loginmask {
    BUTTON, A.button {
      @apply bg-[#0074a8] text-white hover:bg-[#116688] hover:text-white;
    }
    DIV.spinner {
      --text-body: #fff;
    }
  }
}
